<!DOCTYPE html>
<html>
	{% include head.html %}
	<!-- twitter widget -->
	<script>
		window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);
		t._e = [];
		t.ready = function(f) {
		t._e.push(f);
		};
		return t;
	}(document, "script", "twitter-wjs"));
	</script>
	<body>{{content}}</body>
	<!-- isotope masonry grid -->
	<script src="assets/js/masonry.js"></script>
	<!-- images reloaded -->
	<script src="assets/js/imgreload.js"></script>
	<!-- initialize masonry grid -->
	<script>	
		var msnry = new Masonry( '.grid', {
		  /* 
		  	Masonry Settings
		  */
			columnWidth			: '.grid-sizer',
			itemSelector		: '.grid-item',
			fitWidth			: true,
		});
		imagesLoaded(grid).on( 'progress', function() {
		  msnry.layout();
		});	
	</script>
</html>